
.hero-section{
    background-image: url(../../public/banner_5.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    
}

.nav-item{
    font-size: 16px;
    font-weight: bold;
}

.right{
    margin-left: auto;
}

.navbar{
    width: 100%;
}
.center{
    text-align: center;
    font-size: 16px;
}

.bg-hero{
    background-color:bisque;
}
.about-section{
    background-image: url('../../public/banner_6.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
   
}
.bg-about{
    background-color: lightblue;
}

.van-type {
   
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

.link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
}
